@inherits LayoutComponentBase

<header>
    <a class="btn btn-primary m-1" href="/Index">Home</a>
    <a class="btn btn-primary m-1" href="/Companies">Companies</a>
    <a class="btn btn-primary m-1" href="/Employees">Employees</a>
    <a class="btn btn-primary m-1" href="/Managers">Managers</a>
    <a class="btn btn-primary m-1" href="/Orders">Orders</a>
</header>

<main>
    @Body
</main>
