@page "/EmployeeDetails/{EmployeeId:int?}"
@using WarehouseModels

@inject HttpClient http



@if (Employee is null)
{
    <p>Loading...</p>
}
else
{

    <h3>Employee Details</h3>

    <div class="ms-2">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                First Name
            </dt>
            <dd class="col-sm-10">
                @Employee.FirstName
            </dd>
            <dt class="col-sm-2">
                Last Name
            </dt>
            <dd class="col-sm-10">
                @Employee.LastName
            </dd>
            <dt class="col-sm-2">
                Title
            </dt>
            <dd class="col-sm-10">
                @Employee.ManagerId
            </dd>
        </dl>
    </div>
    <div class="ms-2">
        <a href="@($"EmployeeEdit/{Employee.EmployeeId}")">Edit </a>|
        <a href="Employees">Back to List</a>
    </div>

}

@code {

    [Parameter]
    public int? EmployeeId { get; set; }

    public EmployeeViewModel? Employee { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Employee = await http.GetFromJsonAsync<EmployeeViewModel>($"api/Employees/{EmployeeId}");
        }
        catch (Exception)
        {

        }

        await base.OnInitializedAsync();
    }

}
