@page "/CompanyCreate"
@using Microsoft.AspNetCore.Components.Forms
@using WarehouseModels

@inject HttpClient http
@inject NavigationManager nav


<h3>Create Company</h3>


<div class="container">
    <div class="row">
        <EditForm Model="@Company" OnSubmit="@HandleSubmit">
            <div class="form-floating my-2">
                <InputText id="CompanyName" name="CompanyName" @bind-Value="Company.CompanyName" class="form-control" placeholder="x" required />
                <label for="CompanyName">Company Name:</label>
            </div>
            <div class="form-floating my-2">
                <InputText id="Address" name="Address" @bind-Value="Company.Address" class="form-control" placeholder="x" required />
                <label for="Address">Address:</label>
            </div>
            <div class="form-floating my-2">
                <InputText id="City" name="City" @bind-Value="Company.City" class="form-control" placeholder="x" required />
                <label for="City">City:</label>
            </div>
            <div class="form-floating my-2">
                <InputText id="State" name="State" @bind-Value="Company.State" class="form-control" placeholder="x" required />
                <label for="State">State:</label>
            </div>
            <div class="form-floating my-2">
                <InputText id="PostalCode" name="PostalCode" @bind-Value="Company.PostalCode" class="form-control" placeholder="x" required />
                <label for="PostalCode">Postal Code:</label>
            </div>
            <div class="form-floating my-2">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </EditForm>
    </div>
    <div class="row">
        <div class="my-1">
            <a href="Companies">Back to List</a>
        </div>
    </div>
</div>

@code {


    public CompanyViewModel Company { get; set; } = new CompanyViewModel();

    protected async void HandleSubmit()
    {
        var result = await http.PostAsJsonAsync<CompanyViewModel>($"api/Companies", Company!);

        //redirect to managers list on submit
        nav.NavigateTo("/Companies");
    }
}

