@page "/ManagerDetails/{ManagerId:int?}"
@using WarehouseModels

@inject HttpClient http



@if (Manager is null)
{
    <p>Loading...</p>
}
else
{

    <h3>Manager Details</h3>

    <div class="ms-2">
        <h4>Manager</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                First Name
            </dt>
            <dd class="col-sm-10">
                @Manager.FirstName
            </dd>
            <dt class="col-sm-2">
                Last Name
            </dt>
            <dd class="col-sm-10">
                @Manager.LastName
            </dd>
            <dt class="col-sm-2">
                Title
            </dt>
            <dd class="col-sm-10">
                @Manager.Title
            </dd>
        </dl>
    </div>
    <div class="ms-2">
        <a href="@($"ManagerEdit/{Manager.ManagerId}")">Edit </a>|
        <a href="Managers">Back to List</a>
    </div>

}

@code {

    [Parameter]
    public int? ManagerId { get; set; }

    public ManagerViewModel? Manager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Manager = await http.GetFromJsonAsync<ManagerViewModel>($"api/Managers/{ManagerId}");
        }
        catch (Exception)
        {

        }

        await base.OnInitializedAsync();
    }

}
