@page "/CompanyOrder/{CompanyId:int?}"

@inject HttpClient http

@if (Company is null || Products is null)
{
	<p>Retrieving Information...</p>
}
else
{
	<CompanyCard Company="@Company" BackgroundColor="Brown" />

	<div class="container-fluid">
		@foreach (var product in Products)
		{
			<ProductCard Product="product" Width="180px" BackgroundColor="Orange" />
		}
	</div>
}


@code {
	[Parameter]
	public int? CompanyId { get; set; }

	public CompanyViewModel? Company { get; set; }

	public List<ProductViewModel>? Products { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Company = await http.GetFromJsonAsync<CompanyViewModel>($"api/Companies/{CompanyId}");
		Products = await http.GetFromJsonAsync<List<ProductViewModel>>($"api/Products");
		await base.OnInitializedAsync();
	}
}
